.container {
    display: flex;
    margin: 25px;
}

.container_body {
    display: grid;
    grid-template-areas:
        "text"
        "input"
        "buttons"
        "link";
    gap: 10px;
}

.container_body > div.text {
    grid-area: text;
}

.container_body > div.input {
    grid-area: input;
}

.container_body > div.buttons {
    grid-area: buttons;
}

.container_body > div.link {
    grid-area: link;
}